<div class="row">
  <form class="col s6">
    <div class="row">
      <div class="input-field col s12">
        {{input id="email" type="email" value=email required=true placeholder="example@fun.de" class="validate"}}
        <label for="email">E-Mail</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        {{input id="password" type="password" value=password required=true  placeholder="Your password" class="validate"}}
        <label for="password">Passwort</label>
      </div>
    </div>
  </form>
</div>

<button class="waves-effect waves-light btn" {{action "registerUser"}}> Submit </button>

{{#if regResponse}}
  {{#if regSuccess}}
    user created!
  {{else}}
    something went wrong!
  {{/if}}
{{/if}}

{{yield}}
